/* Reset the root styles to accommodate full-width layout */
html {
  background-color: #0f0f0f !important;
}

#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
  height: 100%;
  width: 100%;
  background-color: #0f0f0f !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f !important;
}

/* Global application styles */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

